<html>
    <head>

        <link rel="stylesheet" type="text/css" href="styles.css"/>

    </head>
    <body>
        <div class="header">
            <h1><p>DISTRIBUTOR DETAILS</p></h1>
        </div>
        <table align="center">
            
        <form action='/distributorSignIn' method='POST' align="center">
            <tr>
                <th>
                    Name
                </th>
                <th>
                    <input type='text' name="distributorName">
                </th>
            </tr>
            <tr>
                <th>
                    distributorId:
                </th>
                <th>
                    <input type='text' name="distributorId">
                </th>
            </tr>
            <tr>
                <th>
                    zone:
                </th>
                <th>
                    <input type='text' name="zone">
                </th>
            </tr>
            <tr>
               <th colspan="2"><button type='submit'>signup</button></th> 
            </tr>
        </form>
    </table>
    </body>
</html>