<html>
    <head>
        <link rel="stylesheet" type="text/css" href="styles.css"/>

    </head>
    <body>
        <div class="header">
            <h1><p>PRODUCER DETAILS</p></h1>
        </div>
        <table align="center">
            
        <form action='/producerSignIn' method='POST' align="center">
            <tr>
                <th>
                    Name
                </th>
                <th>
                    <input type='text' name="producerName">
                </th>
            </tr>
            <tr>
                <th>
                    uid:
                </th>
                <th>
                    <input type='text' name="uid">
                </th>
            </tr>
            <tr>
                <th>
                    CompanyId:
                </th>
                <th>
                    <input type='text' name="companyId">
                </th>
            </tr>
            <tr>
                <th>
                    companyName:
                </th>
                <th>
                    <input type='text' name="companyName">
                </th>
            </tr>
            
            <tr align="center" >
             <th colspan="2">  <button type='submit'>signup</button></th> 
            </tr>
        </form>
    </table>
    </body>
</html>